@charset "utf-8";

body,
h3 { 
	margin: 0;
}

body {
	width: 770px;
	margin: 0 auto;
	font-size: 12px;
 }

 a {
  	color: #fff;
  	text-decoration: none; 
  }

 .header {
 	background: #badbdb url(images/banner.gif) center 0 no-repeat;
 	height: 92px;
 }

 .header span {
 	float: right;
 	color: #fff;
}

.header a { margin:0 10px; }

.main {
	background-color: #badbdb;
	padding: 4px 0;
}

.profile,
.books {
	width: 762px;
	background-color: #ebf8f8;
	margin: 0 auto;
	margin-top: 4px;
	padding-bottom: 27px;
}

.profile h3 {
	background: #fff url(images/t_profile.gif) 0 0 no-repeat;
	height: 34px;
}

.profile h2 {
	margin:18px 0 18px 15px;
	font-size: 15px;
	color: #345957;
}

.profile p {
	color: #345957;
	margin: 0 15px;
	margin-bottom: 10px;
	text-indent: 24px;
	line-height: 2;
	text-align: justify;
}

.books h3 {
	background: #fff url(images/t_book.gif) 0 0 no-repeat;
	height: 34px;
	margin-bottom: 18px;
}

.books img {
	border: 2px solid #ccc;
	margin-left: 35px;
}

.footer{
	text-align: center;
	height: 54px;
	line-height: 54px;
	color: #526361;
}
